{{!-- <div class="card">
    <form id="frm_botonePayco" name="frm_botonePayco" method="post" action="https://secure.payco.co/checkout.php">
            <input name="p_cust_id_cliente" type="hidden" value="488759">
            <input name="p_key" type="hidden" value="5b101d4fc085e21ac21dc603445ec17e6d26f8af">
            <input name="p_id_invoice" type="hidden" value="">
            <input name="p_description" type="hidden" value="ePayco Test">
            <input name="p_currency_code" type="hidden" value="COP">
            <input name="p_amount" id="p_amount" type="hidden" value="80000">
            <input name="p_tax" id="p_tax" type="hidden" value="80000">
            <input name="p_amount_base" id="p_amount_base" type="hidden" value="0">
            <input name="p_test_request" type="hidden" value="TRUE">
            <input name="p_url_response" type="hidden" value="https://domain.com/response">
            <input name="p_url_confirmation" type="hidden" value="">
            <input name="p_signature" type="hidden" id="signature" value="6631b03614e6d6cd3d288ddfe1e875ac" />
            <input name="p_billing_document" type="hidden" id="p_billing_document" value="10000000" />
            <input name="p_billing_name" type="hidden" id="p_billing_name" value="PRUEBAS" />
            <input name="p_billing_lastname" type="hidden" id="p_billing_lastname" value="TEST" />
            <input name="p_billing_address" type="hidden" id="p_billing_address" value="Calle 10 # 104-50" />
            <input name="p_billing_country" type="hidden" id="p_billing_country" value="CO" />
            <input name="p_billing_email" type="hidden" id="p_billing_email" value="admin@payco.co" />
            <input name="p_billing_phone" type="hidden" id="p_billing_phone" value="0000000" />
            <input name="p_billing_cellphone" type="hidden" id="p_billing_cellphone" value="0000000000" />
            <input type="image" id="imagen" src="https://369969691f476073508a-60bf0867add971908d4f26a64519c2aa.ssl.cf5.rackcdn.com/btns/btn1.png" />
        </form>
</div> --}}

<form>
    <script src="https://s3-us-west-2.amazonaws.com/epayco/v1.0/checkoutEpayco.js" class="epayco-button"
        data-epayco-key="491d6a0b6e992cf924edd8d3d088aff1" data-epayco-amount="50000"
        data-epayco-name="Vestido Mujer Primavera" data-epayco-description="Vestido Mujer Primavera"
        data-epayco-currency="cop" data-epayco-country="co" data-epayco-test="true"
        data-epayco-response="localhost:3000/confirmacion" data-epayco-confirmation="localhost:3000/confirmacion">
        </script>
</form>